.layout2{
    display: none;
}
.layout2v2{
    display: initial;
}
.finishSignUpP{
    width: 30vw;
    display: block;
    background-color: var(--main-background-color);
    text-align: center;
    padding: 10px 0;
    border-radius: 12px;
    margin-top: 20px;
}
.finishSignUpL{
    text-decoration: none;
    color: #f8f8f8;
}
.wrapperv2{display: none;}
.wrapper, .layout2v2{
    display: flex;
    height: 100vh;
    width:100vw;
    align-items: center;
    justify-content: center;
    margin:auto;
    column-gap: 100px;
    background-color: #f8f8f8;
}
.left{
    width: 40vw;
}
.right{
     width: 40vw;
     background-color: var(--main-background-color);
}
.signupForm{
    margin-top:10px;
    display: block;
}
.companyName{
    padding-bottom: 20px;
    text-align: start;
}
.companyLogo{
    padding-right:10px;
}
.fillForm{
    color: var(--grey-color);
    padding: 10px 0;
}
.passContainer{
    display: flex;
}
.passEye{
    position: absolute;
    display: inline;
    cursor: pointer;
    right: 10px;
    bottom: 48px;
}
.passInp{
    position: relative;
}
.submitter, .pendingSubmit{
    width: 40vw;
    padding: 15px;
    margin: 20px 0 10px 0;
    border-radius: 8px;
    background-color: var(--main-background-color);
    color: #f8f8f8;
}
.submitter{
    cursor: pointer;
}
.pendingSubmit{
opacity: 0.7;
cursor: not-allowed;
}
.signIn{
    color: var(--main-background-color);
    text-decoration: none;
    text-align: center;
}
.imgTxt{
    padding-bottom: 5px;
    color: var(--main-background-color);
}
@media(max-width:1314px) {
    .wrapper,.layout2v2{column-gap: 20px;}
    .right{
        transform: scale(0.5);
    }
}
@media(max-width:779px){
    .right{display: none;}
    .subtitle{font-size: 2rem;}
    .companyName{font-size: 1.8rem;}
    .fillForm{font-size: 1.5rem;}
    .companyLogo{transform: scale(0.8);}
}
@media(max-width:367px){
    .right{display: none;}
    .subtitle{font-size: 1.6rem;}
    .companyName{font-size: 1.4rem;}
    .fillForm{font-size: 1rem;}
    .companyLogo{transform: scale(0.6);}
}