.wrapper{
    position: relative;
}
.goal{
    margin: auto;
    height: 90vh;
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.createGoal{
    height: 6vh;
    width: 8vw;
    border:2px solid var(--primary-green);
    color:var(--primary-green) ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin: auto;
    position: absolute;
}
.createGoal:active{
    box-shadow: none;
}

@media (max-width:415px) {
    .createGoal{
        font-size: 0.7rem;
        height: 6vh;
        width: 20vw;
    }
}