.main {
    /* width: 100%; */
    background-color: var(--main-background-color);
    color: white;
    width: 90vw;
    padding: 20px;
    margin: 20px;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}
/* .addUserBtn{
    color: var(--white);
    background: var(--primary-green);
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
} */
.addUserBtn{
    background: var(--secondery-green);
    color: white;
    font-size: 18px;
    border: none;
    padding: 10px 22px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
.addUserBtn:hover {
background-color: var(--third-green);
}
@media (max-width: 767px) {
.addUserBtn {
    font-size: 13px;
    padding: 6px 9px;
}
}